wheel
requests
pytest
uvicorn
fastapi
SQLAlchemy
alembic
python-jose
passlib
authlib
python-dotenv
Faker
psycopg2-binary
redis
langchain
langchain-openai
langchain-community
langchain-google-community
google-api-python-client
pyowm
qdrant-client
python-multipart
pymupdf
python-docx